*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1363DF;
}


.container{
    background-color: #DFF6FF;
    position: absolute;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 2rem;
    text-align: center;
    display: flex;
}


.fa-arrow-right{
    position: absolute;
    left: 100%;
    top: 50%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: white;
}

.fa-arrow-left{
    position: absolute;
    left:0% ;
    top: 50%;
    font-size: 2.5rem;
    transform: translate(-50%,-50%);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 100%;
    background-color: white;
}

.testimonio-container{
    border: 1px solid black;
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
}

.testimonio-container img{
    width: 5rem;
    border-radius: 100%;
    margin-top: 2rem;
}

.testimonio-container p{
    color: #8C8C90;
}

.testimonio-container h3{
    color: #2d3d67
}